body {
    width: 100%;
    height: 100vh;
    margin: auto;
  }
  nav {
    background-color: green;
  }
  .container {
    margin-top: 30px;
    height: 100vh;
  }
  .navbar{
      background: green;
      padding-right: 15px;
      padding-left: 15px;
  }
  .navdiv{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .logo a{
      text-decoration: none;
      font-size: 35px;
      font-weight: bold;
      color: antiquewhite;
  }
  li{
      list-style: none;
      display: inline-block;
      margin-right: 25px;
  }
  li a{
      color: antiquewhite;
      font-size: 18px;
      text-decoration: none;
  }
  form {
    margin-left: 40%;
  }
  p {
    color: black;
  }
  .meal {
    width: 800px;
    margin-left: 250px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    border: wheat solid;
  }
  .hide {
    display: none;
  }
  #result img {
    margin-left: 0px;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  #result #full {
    display: flex;
  }
  button {
    margin-bottom: 10px;
  }
  